.container {
  margin-top: 4rem;
  max-width: 800px;
}

td.medicine:nth-child(2) {
  width: 33%;
}

.day {
  vertical-align: text-bottom;
  border-color: whitesmoke;
  margin-bottom: 4rem;
}

.inputName {
  color: cornflowerblue;
}


/* Note: */
.day:nth-child(2n) .medicine input {
  background-color: #8f99d312;
}

.day:nth-child(2n+1) .medicine input {
  /* background-color: #aee7ef47; */
  background-color: #ccedf347;

}

input.form-control.medicine.dose,
input.form-control.medicine.pieces,
.timeOfDay {
  text-align: end;
}

.day:nth-child(2n+1) input {
  color: #0dcaf0;
}

.day:nth-child(2n) input {
  color: #b56f6f;
}

button.btn.btn-pdf {
  background-color: #8f99d39f;
  border-color: #8f99d39f;
  color: black;
  box-shadow: chartreuse;
}

td.empty {
  visibility: hidden;
}

td.dayOfWeek {
  text-align: right;
}